@import "partials/reset";
@import "partials/klas-framework";

// -------------------------------------------------
// Editor Styles
// ---------------------------------------------- */

#tinymce {
	font-family: $body-font;
	max-width: $page-width;	
	padding: 10px;
}