/* IE<9 Overrides */
@import "partials/klas-framework";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/pie";


// -------------------------------------------------
// SASS-y IE Specific
// ---------------------------------------------- */
$shadow_alt: #333;
$pie-behavior: url(/wp-content/themes/klas/js/PIE.php); // BE SURE TO UPDATE THIS PATH

@mixin shadow-replace {
	border-bottom: 1px solid $shadow_alt;
}


/* -------------------------------------------------
** IE<9
** ---------------------------------------------- */
.lt-ie9 {

} //end .lt-ie9


/* -------------------------------------------------
** IE<8
** ---------------------------------------------- */
.lt-ie8 {
	//Hack for IE7 and lower box-sizing
	* { box-sizing: border-box; *behavior: url(/wp-content/themes/areas/js/boxsizing.htc); }
} //end .lt-ie8
