@import "partials/reset";
@import "partials/klas-framework";


/* -------------------------------------------------
** TEMPLATE
** ---------------------------------------------- */
* { @include box-sizing('border-box'); }

/* iOS fixes */
html { -webkit-text-size-adjust: none; }
input[type=submit] { -webkit-appearance: none; -moz-appearance: none; }

/* Media Queries for determining javascript events, via http://adactio.com/journal/5429/ */
body:after { content: 'mobile'; display: none; }
@media only screen and (min-width: $mq-desktop) {
	body:after { content: 'desktop'; }
}
// EXAMPLE
// @media screen and (min-width: $mq-desktop) {
// /* styles here */
// } // END @media: $mq-desktop

body {
	color: $body-color;
	font-size: 16px;
	max-width: $page-width;
	padding: 20px;
}
a {
	color: $link-color;
	&:hover{
		color: $link-hover;
	}
}
h1 {
	color: $heading-color;
	font-size: 32px;
}
h2 {
	color: $heading-color;
	font-size: 24px;
}
p {
	padding-bottom: 1em;
}
ul { 
	list-style: disc; 
	margin: 0 0 0 1.1em;
	nav & { // remove styling for nav ul's
		list-style: none; 
		margin: 0;
	}
}