/* SCSS Framework boilerplate from KLAS: https://github.com/kylelarkin/klas */
// -------------------------------------------------
// KL[AS] Compass Imports
// ---------------------------------------------- */
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";


// -------------------------------------------------
// KL[AS] Variables
// ---------------------------------------------- */
$heading-font: Helvetica, Arial, sans-serif;
$body-font: Helvetica, Arial, sans-serif;

$body-color: #555;
$heading-color: #333;
$link-color: #000;
$link-hover: #555;

$page-width: 1280px;

$ani-speed: 250ms;


// -------------------------------------------------
// Media Query Break Points
// ---------------------------------------------- */
$mq-desktop: 620px;


// -------------------------------------------------
// Custom Text Selection Setup
// ---------------------------------------------- */
body,select,input,textarea{color:#333;}
/* Custom text-selection colors (remove any text shadows:twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background:#fcd700;color:#fff;text-shadow:none;}
::selection{background:#fcd700;color:#fff;text-shadow:none;}
/* j.mp/webkit-tap-highlight-color */
a:link{-webkit-tap-highlight-color:#fcd700;}
ins{background-color:#fcd700;color:#000;text-decoration:none;}
mark{background-color:#fcd700;color:#000;font-style:italic;font-weight:bold;}


// -------------------------------------------------
// KL[AS] Mixins
// ---------------------------------------------- */

// Remove UL Styling
@mixin ul-reset {
	list-style: none;
	margin: 0;
	padding-bottom: 0;
}

// Rem Font Sizing
@mixin font-size-rem($size: 1.6){
  font-size: ($size * 10 + 5) + px;
  font-size: $size + rem;
}

@mixin areas-text-style-nav {
	font-size: .875em;
	text-transform: uppercase;
	letter-spacing: .15em;
}

@mixin a-white-to-black {
	color: white;
	&:hover { color: black; }
}

@mixin header-box($w) {
	$header_width: $w;
	position: relative;
	width: $header_width;
	padding: 11em 1.7em 1.1em;
	//display: table-cell;
	vertical-align: bottom;
	margin: 0 0 1.1em;
	overflow: hidden;

	&:after {
		position: absolute;
		width: 50.4em;
		height: 44em;
		bottom: -6.8em;
		right: -7.4em;
		content: '';
		background-color: $gold_alt;
		@include rotate(-45deg);
	}

	h2 {
		position: relative;
		z-index: 2;
		margin: 0;
	}
}

@mixin column-50-pct {
	width: 50%;
	float: left;

	p {
		padding: 0 2em 1em;
	}
}

@mixin column-33-pct {
	width: (($page_width - 40 - 20*2) / 3);
	float: left;
	margin-left: 20px;

	&.first { margin-left: 0; }

	p {
		padding: 0 0 1em;
	}
}

@mixin column-66-pct {
	width: (($page_width - 40 - 10) / 3 * 2);
	float: left;
	margin-left: 20px;

	&.first { margin-left: 0; }

	p {
		padding: 0 2em 1em;
	}
}

@mixin trans-fade-hidden {
	@include transition(opacity $ani_speed linear 0ms, visibility $ani_speed linear 0ms);
	visibility: hidden;
	opacity: 0;
}

@mixin trans-fade-visible {
	visibility: visible;
	opacity: 1;
}